<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Chapter 1</string>
	<key>Pages</key>
	<array>
		<string>Introduction.cutscenepage</string>
		<string>Cryptography Foundation.playgroundpage</string>
		<string>Symmetric-Key Cryptography.playgroundpage</string>
		<string>Asymmetric-Key Cryptography.playgroundpage</string>
		<string>Practice.playgroundpage</string>
	</array>
</dict>
</plist>
